<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="API_APD_Reporteador.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="secret" value="ckjashkjahdkjahsdkhaskdhja" />
  </appSettings>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="smsexpertBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ext2.smsexpert.mx/index.php?ACTION=WEBSERVICE:LOAD_NUSOAP&amp;NUSOAP=PYXTER_SMSEXPERT_EXT1_EXT:C5A.EXT.CONTROL.DOCUMENTO" binding="basicHttpBinding" bindingConfiguration="smsexpertBinding" contract="ServiceReference1.smsexpertPortType" name="smsexpertPort" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <API_APD_Reporteador.My.MySettings>
      <setting name="API_APD_Reporteador_com_facturehoy_wsprod3_WsEmisionTimbrado33"
        serializeAs="String">
        <value>https://wsprod3.facturehoy.com:443/CFDI33/WsEmisionTimbrado33</value>
      </setting>
      <setting name="API_APD_Reporteador_com_facturehoy_wsprod4_WsEmisionTimbrado40"
        serializeAs="String">
        <value>https://wsprod3.facturehoy.com:443/CFDI40/WsEmisionTimbrado40</value>
      </setting>
      <setting name="API_APD_Reporteador_com_facturehoy_pruebasclientes_WsEmisionTimbrado40"
        serializeAs="String">
        <value>http://pruebasclientes.facturehoy.com:8080/CFDI40/WsEmisionTimbrado40</value>
      </setting>
    </API_APD_Reporteador.My.MySettings>
  </applicationSettings>
</configuration>